<div class="userDetailContainer">
    <div class="bream-crum-container">
        <div class="bread-crum">
            <span><a routerLink="../../users">Users</a></span>
            <span>&nbsp;>>&nbsp;</span>
            <span><a [routerLink]="['../../user/', userId]">User Detail</a></span>
        </div>
    </div>
    <div class="tableContainer">
        <div class="tblAlbum">
            <table mat-table [dataSource]="albumsDataSource" matSort border="1">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><h2>Title</h2></th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>                
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef><h2>Action</h2></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="onViewUser(element)">
                        <mat-icon class="mat-18">edit</mat-icon>
                      </button>
                    </td>
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="albumsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: albumsDisplayedColumns;"></tr>
            </table>
        </div>
        <div class="tblTodo">
            <table mat-table [dataSource]="postsDataSource" matSort border="1">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><h2>Title</h2></th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>  
                <ng-container matColumnDef="body">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><h2>Body</h2></th>
                    <td mat-cell *matCellDef="let element"> {{element.body}} </td>
                </ng-container>                
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef><h2>Action</h2></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" (click)="onViewUser(element)">
                        <mat-icon class="mat-18">edit</mat-icon>
                      </button>
                    </td>
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="postsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: postsDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>