.userDetailContainer {
    .bream-crum-container {
        display: flex;
        flex-direction: row;
        .bread-crum {
            list-style: none;
            span {
                font-weight: bold;
            }
        }
    }
    .tableContainer {
        display: flex;
        flex-direction: row;
    }    
}