<div style="width: 98%;">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Name</h2> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Username</h2> </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Email </h2></th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Phone</h2> </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="website">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Website</h2> </th>
            <td mat-cell *matCellDef="let element"> {{element.website}} </td>
        </ng-container>
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><h2> Company</h2> </th>
            <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> <h2>Action</h2> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="onViewUser(element)">
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
            </td>
          </ng-container> 
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>